<settings>
    <setting propertyKey="@Properties.tzOffset" title="@Strings.tzOffsetTitle" prompt="@Strings.tzOffsetPrompt">
        <settingConfig type="numeric" min="-12" max="14" errorMessage="@Strings.tzOffsetError" />
    </setting>
    <setting propertyKey="@Properties.displaySecs" title="@Strings.displaySecsTitle" prompt="@Strings.displaySecsPrompt">
        <settingConfig type="boolean" errorMessage="@Strings.displaySecsError" />
    </setting>
    <setting propertyKey="@Properties.tzInLabel" title="@Strings.tzInLabelTitle" prompt="@Strings.tzInLabelPrompt">
        <settingConfig type="boolean" errorMessage="@Strings.tzInLabelError" />
    </setting>
</settings>