<settings>
    <setting propertyKey="@Properties.tzOffset" title="@Strings.tzOffsetTitle" prompt="@Strings.tzOffsetPrompt">
        <settingConfig type="numeric" min="-12" max="14" errorMessage="@Strings.tzOffsetError" />
    </setting>
    <setting propertyKey="@Properties.displaySecs" title="@Strings.displaySecsTitle" prompt="@Strings.displaySecsPrompt">
        <settingConfig type="boolean" errorMessage="@Strings.displaySecsError" />
    </setting>
    <setting propertyKey="@Properties.yOffsetLabel" title="@Strings.yOffsetLabelTitle" prompt="@Strings.yOffsetLabelPrompt">
        <settingConfig type="numeric" min="-10" max="10" errorMessage="@Strings.yOffsetLabelError" />
    </setting>
    <setting propertyKey="@Properties.yOffsetValue" title="@Strings.yOffsetValueTitle" prompt="@Strings.yOffsetValuePrompt">
        <settingConfig type="numeric" min="-10" max="10" errorMessage="@Strings.yOffsetValueError" />
    </setting>
</settings>